tbody>tr:nth-child(odd){
    background-color: aquamarine;
}
tbody>tr:nth-child(even){
    background-color: blanchedalmond;
}
caption {
    color: blueviolet;
}
thead>tr{
    background-color: rosybrown ;
}
tfoot>tr{
    background-color: chartreuse;
}